<div class='js-grid__col o-grid__col o-grid__col--2-4-m o-grid__col--1-4-l'>
  <div class='c-post-card'>

    {% if post.image %}
      <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__image-link'>
        <img src='{{ post.image | prepend: site.baseurl }}' class='js-fadein c-post-card__image' alt="{{ post.title }}">
        {% if post.featured %}
        <span title='Featured Post'>
          <span class='c-post-card__featured-icon' data-icon='ei-star' data-size='s'></span>
        </span>
        {% endif %}
      </a>
    {% endif %}

    <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card__info {% unless post.image %} c-post-card__info--no-image {% endunless %}'>
      <h3 class='c-post-card__title'>{{ post.title }}</h3>

      <p class='c-post-card__excerpt u-font-small'>
        {{ post.content | strip_html | truncatewords:25 }}
      </p>

      <span class='c-post-card__date'>
	  {{ post.date | date: " %d " }}
	  {% assign m = post.date | date: "%-m" %}

		{% case m %}
			{% when '1' %} Styczeń
			{% when '2' %} Luty
			{% when '3' %} Marzec
			{% when '4' %} Kwiecień
			{% when '5' %} Maj
			{% when '6' %} Czerwiec
			{% when '7' %} Lipiec
			{% when '8' %} Sierpień
			{% when '9' %} Wrzesień
			{% when '10' %} Październik
			{% when '11' %} Listopad
			{% when '12' %} Grudzień
        {% endcase %}      
	  
  {{ post.date | date: "%Y" }}
	  </span>
    </a>

  </div>
</div>