/*------------------------------------*\
  Components > Post
\*------------------------------------*/


.c-content {

	&__cc-content {
		padding: 20px 60px 100px 60px; 
		
		
		&__image {
    margin: 0 auto $base-spacing-unit;
  }
		
		
		
	} 	
	
	
	
}


.c-post {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  

  
.c-tags {
	margin-left: 60px;
	}
	
.c-share {
margin-right: 60px;

}  
  
  &__title {
    font-size: double($font-size-tiny);

    @include mq($from: tablet) {
      font-size: double($font-size-small);
      line-height: double($line-height-medium);
    }
  }

  &__date {
    display: block;
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-size: $font-size-tiny;
    font-family: $font-sans-serif;
    line-height: $line-height-small;
    color: $color-gray;
  }

  &__image {
    margin: 0 auto $base-spacing-unit;
  }
  
}

.c-post-content {
	background: white;
	}
