/*------------------------------------*\
  Components > Post
\*------------------------------------*/


.c-content {

	&__cc-content {
		padding: 20px 60px 100px 60px; 
		
		
		&__image {
    margin: 0 auto $base-spacing-unit;
  }
		
		
		
	} 	
	
	
	
}


.c-post {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  

  
.c-tags {
	margin-left: 60px;
	}
	
.c-share {
margin-right: 60px;

}  
  
  &__title {
    font-size: double($font-size-tiny);

    @include mq($from: tablet) {
      font-size: double($font-size-small);
      line-height: double($line-height-medium);
    }
  }
  
  &__title_without_image {
	padding-top: 50px;
    font-size: double($font-size-tiny);

    @include mq($from: tablet) {
      font-size: double($font-size-small);
      line-height: double($line-height-medium);
    }
  }
  
  &__date {
    display: block;
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-size: $font-size-tiny;
    font-family: $font-sans-serif;
    line-height: $line-height-small;
    color: $color-gray;
  }

  &__image {
    margin: 0 auto $base-spacing-unit;
  }
  
}

.c-post-content {
	background: white;
	}


	
	
	
	
.post_to_top, .social-box {
    text-align: center;
}	
	
	
.post_to_top {
    position: absolute;
    
    left: 50%;
    margin-left: -20px;
}

.post_to_top {
    border: 1px solid #EBEBEB;
    width: 40px;
    height: 40px;
    line-height: 34px;
    border-radius: 50%;
    color: #9b9fa6;
    font-size: 22px;
	cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.post_to_top, .social-box-button {
    background: #fff;
    display: inline-block;
}



.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}