---
layout: default1
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--3-4-m o-grid__col--center'>
      <article class='c-post c-post-content' itemscope itemtype='http://schema.org/BlogPosting'>

        
	
        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}
		  
		  {% if page.image %}
		  
		<!--  <h1 class='c-post__title u-text-center'>{{ page.title }}</h1> -->
		
		  <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: " %-d " }}
	  {% assign m = page.date | date: "%-m" %}

		{% case m %}
			{% when '1' %} Styczeń
			{% when '2' %} Luty
			{% when '3' %} Marzec
			{% when '4' %} Kwiecień
			{% when '5' %} Maj
			{% when '6' %} Czerwiec
			{% when '7' %} Lipiec
			{% when '8' %} Sierpień
			{% when '9' %} Wrzesień
			{% when '10' %} Październik
			{% when '11' %} Listopad
			{% when '12' %} Grudzień
        {% endcase %}      
	  
  {{ page.date | date: "%Y" }}</time>  
       <div >{{ content }}</div>
		  {% else %}
		  <h1 class='c-post__title_without_image u-text-center'>{{ page.title }}</h1>
		  
		  <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: " %d " }}
	  {% assign m = page.date | date: "%-m" %}

		{% case m %}
			{% when '1' %} Styczeń
			{% when '2' %} Luty
			{% when '3' %} Marzec
			{% when '4' %} Kwiecień
			{% when '5' %} Maj
			{% when '6' %} Czerwiec
			{% when '7' %} Lipiec
			{% when '8' %} Sierpień
			{% when '9' %} Wrzesień
			{% when '10' %} Październik
			{% when '11' %} Listopad
			{% when '12' %} Grudzień
        {% endcase %}      
	  
  {{ page.date | date: "%Y" }}</time>  
       <div >{{ content }}</div>
			{% endif %}
        
	   </div>
		
		
		 
		  
        

		
		
        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--2-4-s o-grid__col--2-4-m'>
            <div class='c-tags'>
              {% for tag in page.tags %}
                <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
          <div class='o-grid__col o-grid__col--2-4-s o-grid__col--2-4-m'>
		 
            {% include share.html %}
		
		  </div>
        </div>

        

   <!--     {% include subscribe-form.html %}
        <hr>

        {% include disqus.html %}
    -->
      </article>

	  {% if page.author %}
          {% include author.html %}
        {% endif %}
	  
	 {% include disqus.html %} 
	 
	 
	 
    </div>
  </div>
  
  <a href="#top" id="back_to_top" class="post_to_top jQ_goTo">
	 <i class="fa fa-angle-up"></i></a>
</div>
